name: Auto Quotex Signal Generator

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Run generator
        run: python generate_signal.py

      - name: Commit update
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
          git add signal.json
          git commit -m "auto update"
          git push
